<div class="ion-page" id="main-content">
    <ion-header color="dark">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title class="ion-text-center" color="dark">
                <img src="/assets/images/textile.png" alt="Prince Textile" width="90">
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="">
        
        <ion-card>
            <ion-card-header>
                <ion-card-title class="ion-text-center">Contact Us</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-item>
                  <ion-icon name="location" slot="start"></ion-icon>
                  <ion-label>3579 Prince Textile Engg. Works <br>Putlighar Amritsar</ion-label>
                  
                </ion-item>
            </ion-card-content>
        </ion-card>

    </ion-content>
    <ion-footer>
        <ion-toolbar color="primary">
            <ion-title>
                <ion-text size="12" class="footer-text">
                    <p>Prince Textile Engg. Works</p>
                </ion-text>
            </ion-title>

        </ion-toolbar>
    </ion-footer>
</div>
