<div class="ion-page" id="main-content">
    <ion-header color="dark">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title class="ion-text-center" color="dark">
                <img src="/assets/images/textile.png" alt="Prince Textile" width="90">
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="">
        <app-slides></app-slides>
        <ion-card>
            <ion-card-header>
                <ion-card-title class="ion-text-center">Services That we offer</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col size="6" class="ion-text-center ">
                            <div class="border-div ion-padding">
                                <img src="/assets/images/drill-icon.png" width="50" color="primary">
                                <p class="ion-text-center">Drilling</p>

                            </div>
                        </ion-col>
                        <ion-col size="6" class="ion-text-center ">
                            <div class="border-div ion-padding">
                                <img src="/assets/images/welding-icon.png" width="50" color="primary">
                                <p class="ion-text-center">Welding</p>

                            </div>
                        </ion-col>
                        <ion-col size="6" class="ion-text-center ">
                            <div class="border-div ion-padding">
                                <img src="/assets/images/Repair-icon.png" width="50" color="primary">
                                <p class="ion-text-center">Repairing</p>

                            </div>
                        </ion-col>
                        <ion-col size="6" class="ion-text-center ">
                            <div class="border-div ion-padding">
                                <img src="/assets/images/lathe-icon.png" width="50" color="primary">
                                <p class="ion-text-center">Machine Parts</p>

                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </ion-content>
    <ion-footer>
        <ion-toolbar color="primary">
            <ion-title>
                <ion-text size="12" class="footer-text">
                    <p>Prince Textile Engg. Works</p>
                </ion-text>
            </ion-title>

        </ion-toolbar>
    </ion-footer>
</div>
