<swiper effect="fade" [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
  <ng-template swiperSlide><img src="/assets/images/banner.png" height="120"></ng-template>
  <ng-template swiperSlide><img src="/assets/images/welding-banner.jpg" height="120"></ng-template>
  <ng-template swiperSlide><img src="/assets/images/grinding.jpg" height="120"></ng-template>
</swiper>